@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PaisMVC.Models.Amigo.Amigo>

@{
    ViewData["Title"] = "Index";
}

<h1>Amigos</h1>

<p>
    @Html.ActionLink("Inclui novo Amigo", "Incluir", "Amigo", null, new { @class="btn btn-success"})
</p>

@{
    var numberOfColsNeeded = 3;
    var totalCounter = Model.Count();
    var itemCounter = 1;
}

@foreach (var amigo in Model)
{
    if (itemCounter % numberOfColsNeeded == 1)
    {
        @:<div class="row" >
    }
    
        <div class="col-4  d-flex">
            <div class="card">
            <img class="card-img-top" style="width: 18rem; height: 14rem; max-height: 100%;" src="@amigo.FotografiaId" alt="@amigo.Nome">
            <div class="card-body">
                <h5 class="card-title">@amigo.Nome @amigo.Sobrenome</h5>
                    <p>Telefone: @amigo.Telefone</p>
                    <p>E-mail: @amigo.Email</p>
                @Html.ActionLink("Editar", "Editar", new { id=amigo.Id }, new { @class="btn btn-light"})
                @Html.ActionLink("Detalhes", "Detalhes", new { id=amigo.Id }, new { @class="btn btn-light"})
                @Html.ActionLink("Excluir", "Excluir", new { id=amigo.Id }, new { @class="btn btn-danger"})
            </div>
        </div>
    </div>
    if ((itemCounter % numberOfColsNeeded == 0) || ((itemCounter) == totalCounter))
    {
        @:</div>
    }
    itemCounter++;
}
