@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PaisMVC.Models.Pais.Pais

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Tem certeza de que quer excluir este País?</h3>
<div>
    <h4>País</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="@Model.BandeiraId" alt="@Model.Nome">
                <div class="card-body">
                    <h5 class="card-title">@Model.Nome</h5>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Excluir">
        <input type="submit" value="Excluir" class="btn btn-danger" /> 
        @Html.HiddenFor(m => m.Id)
    </form>
    @Html.ActionLink("Voltar à lista", "Index", "Pais", null, new { @class="btn btn-primary"})
</div>
