@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PaisMVC.Models.Pais.Pais>

@{
    ViewData["Title"] = "Index";
}

<h1>Países</h1>

<p>
    @Html.ActionLink("Inclui novo País", "Incluir", "Pais", null, new { @class="btn btn-success"})
</p>

@{
    var numberOfColsNeeded = 3;
    var totalCounter = Model.Count();
    var itemCounter = 1;
}

@foreach (var pais in Model)
{
    if (itemCounter % numberOfColsNeeded == 1)
    {
        @:<div class="row" >
    }
    
        <div class="col-4  d-flex">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top " src="@pais.BandeiraId" alt="@pais.Nome">
            <div class="card-body">
                <h5 class="card-title">@pais.Nome</h5>
                @Html.ActionLink("Editar", "Editar", new { id=pais.Id }, new { @class="btn btn-light"})
                @Html.ActionLink("Detalhes", "Detalhes", new { id=pais.Id }, new { @class="btn btn-light"})
                @Html.ActionLink("Excluir", "Excluir", new { id=pais.Id }, new { @class="btn btn-danger"})
            </div>
        </div>
    </div>
    if ((itemCounter % numberOfColsNeeded == 0) || ((itemCounter) == totalCounter))
    {
        @:</div>
    }
    itemCounter++;
}
